html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#gradient-canvas {
  width:100vw;
  height:100vh;
  --gradient-color-1: #d50018; 
  --gradient-color-2: #25001b; 
  --gradient-color-3: #410041;  
  --gradient-color-4: #0e003f;
  --gradient-speed: 0.000006;
}

canvas{
  display: block
}

#container{
  width: 100vw;
  height: 100vh
}

