html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

canvas{display: block}
#container{width: 100vw;height: 100vh; background-color: red;}

.bounce2 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-8px);}
	60% {transform: translateY(-4px);}
}

.navLink {
	color: white;
  position: relative;
  text-decoration: none;
}

.navLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  bottom: 0px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.scroll-container {
  position: relative;
  will-change: transform;
  width: 600px;
  height: 50vh;
}
.scroll-container .ghost {
  width: 600px;
}
.thumbnails-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 160px;
  background-color: #141414;
  border: 40px solid yellowgreen;
}
.thumbnails-container .thumbnails {
  position: relative;
  display: flex;
  border: 20px solid yellow;
}
.thumbnails-container .thumbnails > *:not(:last-child) {
  margin-right: 45px;
}
.thumbnails-container .thumbnails .thumbnail {
  height: 40vh;
  width: 600px;
  background-color: royalblue;
  border: 15px solid magenta;
}


.bumper {
  text-align: center;
  padding: 128px 16px;
  background-color: #efefef;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.space-holder {
  position: relative;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
}

.cards {
  position: relative;
  height: 100%;
  padding: 0 0 0 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 300px;
  width: 500px;
  background-color: red;
  margin-right: 75px;
  flex-shrink: 0;
}
